body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #22162b;
}






.swiper {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }













header {
    background-color: #451f55;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

#searchInput {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-card {
    background-color: #74ffc5ca;
    border: 5px solid #e54f6d;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 10px 15px #f8c630;
}

.movie-card h3 {
    margin-top: 0;
}

.movie-card p {
    margin: 5px 0;
}
